*
{
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

$primary-color: #c82424;

body{
    font-family: Arial, Helvetica, sans-serif;
}

header{
    background-color: $primary-color;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    & h1{
        color: #fff;
        font-size: 800%;
        font-weight: 900;
    }
}